src/main/java/it/test/kion/ConsultazioneCatalogo.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.1-1 (sun-metro) JAXWS-RI/2.2.7 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.1-1 (sun-metro) JAXWS-RI/2.2.7 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ri.u-gov.cineca.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.ri.u-gov.cineca.it/" name="WSRIConsultazioneCatalogoService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.ri.u-gov.cineca.it/" schemaLocation="http://unito-dev1.sviluppo.u-gov.it:80/ws-ri/ws/public/ConsultazioneCatalogo?xsd=1"/>
</xsd:schema>
</types>
<message name="getMetadataFormats">
<part name="parameters" element="tns:getMetadataFormats"/>
</message>
<message name="getMetadataFormatsResponse">
<part name="parameters" element="tns:getMetadataFormatsResponse"/>
</message>
<message name="ApplicationException">
<part name="fault" element="tns:ApplicationException"/>
</message>
<message name="getAuthorProductsByAB">
<part name="parameters" element="tns:getAuthorProductsByAB"/>
</message>
<message name="getAuthorProductsByABResponse">
<part name="parameters" element="tns:getAuthorProductsByABResponse"/>
</message>
<message name="AuthorNotFoundException">
<part name="fault" element="tns:AuthorNotFoundException"/>
</message>
<message name="UnsupportedMetadataFormatException">
<part name="fault" element="tns:UnsupportedMetadataFormatException"/>
</message>
<message name="UnsupportedOrderingTokenException">
<part name="fault" element="tns:UnsupportedOrderingTokenException"/>
</message>
<message name="getAuthorProductsByURI">
<part name="parameters" element="tns:getAuthorProductsByURI"/>
</message>
<message name="getAuthorProductsByURIResponse">
<part name="parameters" element="tns:getAuthorProductsByURIResponse"/>
</message>
<message name="getAuthorProductsByCF">
<part name="parameters" element="tns:getAuthorProductsByCF"/>
</message>
<message name="getAuthorProductsByCFResponse">
<part name="parameters" element="tns:getAuthorProductsByCFResponse"/>
</message>
<message name="getProductByID">
<part name="parameters" element="tns:getProductByID"/>
</message>
<message name="getProductByIDResponse">
<part name="parameters" element="tns:getProductByIDResponse"/>
</message>
<message name="ProductNotFoundException">
<part name="fault" element="tns:ProductNotFoundException"/>
</message>
<message name="getProductByURI">
<part name="parameters" element="tns:getProductByURI"/>
</message>
<message name="getProductByURIResponse">
<part name="parameters" element="tns:getProductByURIResponse"/>
</message>
<message name="getSummaryByAB">
<part name="parameters" element="tns:getSummaryByAB"/>
</message>
<message name="getSummaryByABResponse">
<part name="parameters" element="tns:getSummaryByABResponse"/>
</message>
<message name="getSummaryByCF">
<part name="parameters" element="tns:getSummaryByCF"/>
</message>
<message name="getSummaryByCFResponse">
<part name="parameters" element="tns:getSummaryByCFResponse"/>
</message>
<message name="getSummaryByURI">
<part name="parameters" element="tns:getSummaryByURI"/>
</message>
<message name="getSummaryByURIResponse">
<part name="parameters" element="tns:getSummaryByURIResponse"/>
</message>
<portType name="WSRIConsultazioneCatalogo">
<operation name="getMetadataFormats">
<input wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getMetadataFormatsRequest" message="tns:getMetadataFormats"/>
<output wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getMetadataFormatsResponse" message="tns:getMetadataFormatsResponse"/>
<fault message="tns:ApplicationException" name="ApplicationException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getMetadataFormats/Fault/ApplicationException"/>
</operation>
<operation name="getAuthorProductsByAB">
<input wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByABRequest" message="tns:getAuthorProductsByAB"/>
<output wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByABResponse" message="tns:getAuthorProductsByABResponse"/>
<fault message="tns:ApplicationException" name="ApplicationException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByAB/Fault/ApplicationException"/>
<fault message="tns:AuthorNotFoundException" name="AuthorNotFoundException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByAB/Fault/AuthorNotFoundException"/>
<fault message="tns:UnsupportedMetadataFormatException" name="UnsupportedMetadataFormatException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByAB/Fault/UnsupportedMetadataFormatException"/>
<fault message="tns:UnsupportedOrderingTokenException" name="UnsupportedOrderingTokenException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByAB/Fault/UnsupportedOrderingTokenException"/>
</operation>
<operation name="getAuthorProductsByURI">
<input wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByURIRequest" message="tns:getAuthorProductsByURI"/>
<output wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByURIResponse" message="tns:getAuthorProductsByURIResponse"/>
<fault message="tns:ApplicationException" name="ApplicationException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByURI/Fault/ApplicationException"/>
<fault message="tns:AuthorNotFoundException" name="AuthorNotFoundException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByURI/Fault/AuthorNotFoundException"/>
<fault message="tns:UnsupportedMetadataFormatException" name="UnsupportedMetadataFormatException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByURI/Fault/UnsupportedMetadataFormatException"/>
<fault message="tns:UnsupportedOrderingTokenException" name="UnsupportedOrderingTokenException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByURI/Fault/UnsupportedOrderingTokenException"/>
</operation>
<operation name="getAuthorProductsByCF">
<input wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByCFRequest" message="tns:getAuthorProductsByCF"/>
<output wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByCFResponse" message="tns:getAuthorProductsByCFResponse"/>
<fault message="tns:ApplicationException" name="ApplicationException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByCF/Fault/ApplicationException"/>
<fault message="tns:AuthorNotFoundException" name="AuthorNotFoundException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByCF/Fault/AuthorNotFoundException"/>
<fault message="tns:UnsupportedMetadataFormatException" name="UnsupportedMetadataFormatException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByCF/Fault/UnsupportedMetadataFormatException"/>
<fault message="tns:UnsupportedOrderingTokenException" name="UnsupportedOrderingTokenException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByCF/Fault/UnsupportedOrderingTokenException"/>
</operation>
<operation name="getProductByID">
<input wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByIDRequest" message="tns:getProductByID"/>
<output wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByIDResponse" message="tns:getProductByIDResponse"/>
<fault message="tns:ApplicationException" name="ApplicationException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByID/Fault/ApplicationException"/>
<fault message="tns:ProductNotFoundException" name="ProductNotFoundException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByID/Fault/ProductNotFoundException"/>
<fault message="tns:UnsupportedMetadataFormatException" name="UnsupportedMetadataFormatException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByID/Fault/UnsupportedMetadataFormatException"/>
</operation>
<operation name="getProductByURI">
<input wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByURIRequest" message="tns:getProductByURI"/>
<output wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByURIResponse" message="tns:getProductByURIResponse"/>
<fault message="tns:ApplicationException" name="ApplicationException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByURI/Fault/ApplicationException"/>
<fault message="tns:ProductNotFoundException" name="ProductNotFoundException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByURI/Fault/ProductNotFoundException"/>
<fault message="tns:UnsupportedMetadataFormatException" name="UnsupportedMetadataFormatException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByURI/Fault/UnsupportedMetadataFormatException"/>
</operation>
<operation name="getSummaryByAB">
<input wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByABRequest" message="tns:getSummaryByAB"/>
<output wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByABResponse" message="tns:getSummaryByABResponse"/>
<fault message="tns:ApplicationException" name="ApplicationException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByAB/Fault/ApplicationException"/>
<fault message="tns:AuthorNotFoundException" name="AuthorNotFoundException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByAB/Fault/AuthorNotFoundException"/>
</operation>
<operation name="getSummaryByCF">
<input wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByCFRequest" message="tns:getSummaryByCF"/>
<output wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByCFResponse" message="tns:getSummaryByCFResponse"/>
<fault message="tns:ApplicationException" name="ApplicationException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByCF/Fault/ApplicationException"/>
<fault message="tns:AuthorNotFoundException" name="AuthorNotFoundException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByCF/Fault/AuthorNotFoundException"/>
</operation>
<operation name="getSummaryByURI">
<input wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByURIRequest" message="tns:getSummaryByURI"/>
<output wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByURIResponse" message="tns:getSummaryByURIResponse"/>
<fault message="tns:ApplicationException" name="ApplicationException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByURI/Fault/ApplicationException"/>
<fault message="tns:AuthorNotFoundException" name="AuthorNotFoundException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByURI/Fault/AuthorNotFoundException"/>
</operation>
</portType>
<binding name="WSRIConsultazioneCatalogoPortBinding" type="tns:WSRIConsultazioneCatalogo">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMetadataFormats">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ApplicationException">
<soap:fault name="ApplicationException" use="literal"/>
</fault>
</operation>
<operation name="getAuthorProductsByAB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ApplicationException">
<soap:fault name="ApplicationException" use="literal"/>
</fault>
<fault name="AuthorNotFoundException">
<soap:fault name="AuthorNotFoundException" use="literal"/>
</fault>
<fault name="UnsupportedMetadataFormatException">
<soap:fault name="UnsupportedMetadataFormatException" use="literal"/>
</fault>
<fault name="UnsupportedOrderingTokenException">
<soap:fault name="UnsupportedOrderingTokenException" use="literal"/>
</fault>
</operation>
<operation name="getAuthorProductsByURI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ApplicationException">
<soap:fault name="ApplicationException" use="literal"/>
</fault>
<fault name="AuthorNotFoundException">
<soap:fault name="AuthorNotFoundException" use="literal"/>
</fault>
<fault name="UnsupportedMetadataFormatException">
<soap:fault name="UnsupportedMetadataFormatException" use="literal"/>
</fault>
<fault name="UnsupportedOrderingTokenException">
<soap:fault name="UnsupportedOrderingTokenException" use="literal"/>
</fault>
</operation>
<operation name="getAuthorProductsByCF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ApplicationException">
<soap:fault name="ApplicationException" use="literal"/>
</fault>
<fault name="AuthorNotFoundException">
<soap:fault name="AuthorNotFoundException" use="literal"/>
</fault>
<fault name="UnsupportedMetadataFormatException">
<soap:fault name="UnsupportedMetadataFormatException" use="literal"/>
</fault>
<fault name="UnsupportedOrderingTokenException">
<soap:fault name="UnsupportedOrderingTokenException" use="literal"/>
</fault>
</operation>
<operation name="getProductByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ApplicationException">
<soap:fault name="ApplicationException" use="literal"/>
</fault>
<fault name="ProductNotFoundException">
<soap:fault name="ProductNotFoundException" use="literal"/>
</fault>
<fault name="UnsupportedMetadataFormatException">
<soap:fault name="UnsupportedMetadataFormatException" use="literal"/>
</fault>
</operation>
<operation name="getProductByURI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ApplicationException">
<soap:fault name="ApplicationException" use="literal"/>
</fault>
<fault name="ProductNotFoundException">
<soap:fault name="ProductNotFoundException" use="literal"/>
</fault>
<fault name="UnsupportedMetadataFormatException">
<soap:fault name="UnsupportedMetadataFormatException" use="literal"/>
</fault>
</operation>
<operation name="getSummaryByAB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ApplicationException">
<soap:fault name="ApplicationException" use="literal"/>
</fault>
<fault name="AuthorNotFoundException">
<soap:fault name="AuthorNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getSummaryByCF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ApplicationException">
<soap:fault name="ApplicationException" use="literal"/>
</fault>
<fault name="AuthorNotFoundException">
<soap:fault name="AuthorNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getSummaryByURI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ApplicationException">
<soap:fault name="ApplicationException" use="literal"/>
</fault>
<fault name="AuthorNotFoundException">
<soap:fault name="AuthorNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="WSRIConsultazioneCatalogoService">
<port name="WSRIConsultazioneCatalogoPort" binding="tns:WSRIConsultazioneCatalogoPortBinding">
<soap:address location="http://unito-dev1.sviluppo.u-gov.it:80/ws-ri/ws/public/ConsultazioneCatalogo"/>
</port>
</service>
</definitions>