src/main/java/it/test/kion/ConsultazioneCatalogo1.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.1-1 (sun-metro) JAXWS-RI/2.2.7 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.1-1 (sun-metro) JAXWS-RI/2.2.7 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ri.u-gov.cineca.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.ri.u-gov.cineca.it/" name="WSRIConsultazioneCatalogoService">
<types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.ri.u-gov.cineca.it/" version="1.0" targetNamespace="http://ws.ri.u-gov.cineca.it/">

<xs:element name="ApplicationException" type="tns:ApplicationException"/>

<xs:element name="AuthorNotFoundException" type="tns:AuthorNotFoundException"/>

<xs:element name="ProductNotFoundException" type="tns:ProductNotFoundException"/>

<xs:element name="UnsupportedMetadataFormatException" type="tns:UnsupportedMetadataFormatException"/>

<xs:element name="UnsupportedOrderingTokenException" type="tns:UnsupportedOrderingTokenException"/>

<xs:element name="getAuthorProductsByAB" type="tns:getAuthorProductsByAB"/>

<xs:element name="getAuthorProductsByABResponse" type="tns:getAuthorProductsByABResponse"/>

<xs:element name="getAuthorProductsByCF" type="tns:getAuthorProductsByCF"/>

<xs:element name="getAuthorProductsByCFResponse" type="tns:getAuthorProductsByCFResponse"/>

<xs:element name="getAuthorProductsByURI" type="tns:getAuthorProductsByURI"/>

<xs:element name="getAuthorProductsByURIResponse" type="tns:getAuthorProductsByURIResponse"/>

<xs:element name="getMetadataFormats" type="tns:getMetadataFormats"/>

<xs:element name="getMetadataFormatsResponse" type="tns:getMetadataFormatsResponse"/>

<xs:element name="getProductByID" type="tns:getProductByID"/>

<xs:element name="getProductByIDResponse" type="tns:getProductByIDResponse"/>

<xs:element name="getProductByHandle" type="tns:getProductByHandle"/>

<xs:element name="getProductByHandleResponse" type="tns:getProductByHandleResponse"/>

<xs:element name="getProductByURI" type="tns:getProductByURI"/>

<xs:element name="getProductByURIResponse" type="tns:getProductByURIResponse"/>

<xs:element name="getProductsByQuery" type="tns:getProductsByQuery"/>

<xs:element name="getProductsByQueryResponse" type="tns:getProductsByQueryResponse"/>

<xs:element name="getSummaryByAB" type="tns:getSummaryByAB"/>

<xs:element name="getSummaryByABResponse" type="tns:getSummaryByABResponse"/>

<xs:element name="getSummaryByCF" type="tns:getSummaryByCF"/>

<xs:element name="getSummaryByCFResponse" type="tns:getSummaryByCFResponse"/>

<xs:element name="getSummaryByURI" type="tns:getSummaryByURI"/>

<xs:element name="getSummaryByURIResponse" type="tns:getSummaryByURIResponse"/>

<xs:complexType name="getAuthorProductsByAB">
<xs:sequence>
<xs:element name="authorID" type="xs:int" minOccurs="0"/>
<xs:element name="metadataPrefix" type="xs:string" minOccurs="0"/>
<xs:element name="filter" type="tns:wsdtoFilter" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wsdtoFilter">
<xs:sequence>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="from" type="xs:int" minOccurs="0"/>
<xs:element name="to" type="xs:int" minOccurs="0"/>
<xs:element name="modifiedFrom" type="xs:dateTime" minOccurs="0"/>
<xs:element name="modifiedTo" type="xs:dateTime" minOccurs="0"/>
<xs:element name="orderingToken" type="tns:wsdtoOrderingToken" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wsdtoOrderingToken">
<xs:sequence>
<xs:element name="field" type="tns:field" minOccurs="0"/>
<xs:element name="order" type="tns:order" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAuthorProductsByABResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsdtoAuthorProducts" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wsdtoAuthorProducts">
<xs:sequence>
<xs:element name="authorID" type="xs:int" minOccurs="0"/>
<xs:element name="authorName" type="xs:string" minOccurs="0"/>
<xs:element name="authorSurname" type="xs:string" minOccurs="0"/>
<xs:element name="authorURI" type="xs:string" minOccurs="0"/>
<xs:element name="pageProductsCount" type="xs:int" minOccurs="0"/>
<xs:element name="products" type="tns:wsdtoProduct" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="productsCount" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wsdtoProduct">
<xs:sequence>
<xs:element name="metadataFormat" type="tns:wsdtoMetadataFormat" minOccurs="0"/>
<xs:element name="productID" type="xs:int" minOccurs="0"/>
<xs:element name="productMetadata" type="xs:anyType" minOccurs="0"/>
<xs:element name="productURI" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wsdtoMetadataFormat">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="namespace" type="xs:string" minOccurs="0"/>
<xs:element name="prefix" type="xs:string" minOccurs="0"/>
<xs:element name="schema" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wsdtoProducts">
<xs:sequence>
<xs:element name="pageProductsCount" type="xs:int" minOccurs="0"/>
<xs:element name="products" type="tns:wsdtoProduct" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="productsCount" type="xs:long" minOccurs="0"/>
<xs:element name="query" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ApplicationException">
<xs:sequence>
<xs:element name="i18NParams">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"/>
<xs:element name="value" minOccurs="0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AuthorNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UnsupportedMetadataFormatException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UnsupportedOrderingTokenException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductByURI">
<xs:sequence>
<xs:element name="productURI" type="xs:string" minOccurs="0"/>
<xs:element name="metadataPrefix" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductByURIResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsdtoProduct" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ProductNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSummaryByAB">
<xs:sequence>
<xs:element name="authorID" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSummaryByABResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsdtoSummary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wsdtoSummary">
<xs:sequence>
<xs:element name="authorID" type="xs:int" minOccurs="0"/>
<xs:element name="authorName" type="xs:string" minOccurs="0"/>
<xs:element name="authorSurname" type="xs:string" minOccurs="0"/>
<xs:element name="authorURI" type="xs:string" minOccurs="0"/>
<xs:element name="productsCount" type="xs:long" minOccurs="0"/>
<xs:element name="type" type="tns:wsdtoType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wsdtoType">
<xs:sequence>
<xs:element name="count" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMetadataFormats">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getMetadataFormatsResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsdtoMetadataFormat" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSummaryByURI">
<xs:sequence>
<xs:element name="authorURI" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSummaryByURIResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsdtoSummary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSummaryByCF">
<xs:sequence>
<xs:element name="CF" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSummaryByCFResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsdtoSummary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductByID">
<xs:sequence>
<xs:element name="productID" type="xs:int" minOccurs="0"/>
<xs:element name="metadataPrefix" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductByIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsdtoProduct" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductByHandle">
<xs:sequence>
<xs:element name="productHandle" type="xs:string" minOccurs="0"/>
<xs:element name="metadataPrefix" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductByHandleResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsdtoProduct" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAuthorProductsByURI">
<xs:sequence>
<xs:element name="authorURI" type="xs:string" minOccurs="0"/>
<xs:element name="metadataPrefix" type="xs:string" minOccurs="0"/>
<xs:element name="filter" type="tns:wsdtoFilter" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAuthorProductsByURIResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsdtoAuthorProducts" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAuthorProductsByCF">
<xs:sequence>
<xs:element name="CF" type="xs:string" minOccurs="0"/>
<xs:element name="metadataPrefix" type="xs:string" minOccurs="0"/>
<xs:element name="filter" type="tns:wsdtoFilter" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAuthorProductsByCFResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsdtoAuthorProducts" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductsByQuery">
<xs:sequence>
<xs:element name="query" type="xs:string" minOccurs="0"/>
<xs:element name="metadataPrefix" type="xs:string" minOccurs="0"/>
<xs:element name="filter" type="tns:wsdtoFilter" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductsByQueryResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsdtoProducts" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="field">
<xs:restriction base="xs:string">
<xs:enumeration value="YEAR"/>
<xs:enumeration value="TYPE"/>
<xs:enumeration value="TITLE"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="order">
<xs:restriction base="xs:string">
<xs:enumeration value="ASC"/>
<xs:enumeration value="DESC"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
</types>
<message name="getMetadataFormats">
<part name="parameters" element="tns:getMetadataFormats"/>
</message>
<message name="getMetadataFormatsResponse">
<part name="parameters" element="tns:getMetadataFormatsResponse"/>
</message>
<message name="ApplicationException">
<part name="fault" element="tns:ApplicationException"/>
</message>
<message name="getAuthorProductsByAB">
<part name="parameters" element="tns:getAuthorProductsByAB"/>
</message>
<message name="getAuthorProductsByABResponse">
<part name="parameters" element="tns:getAuthorProductsByABResponse"/>
</message>
<message name="AuthorNotFoundException">
<part name="fault" element="tns:AuthorNotFoundException"/>
</message>
<message name="UnsupportedMetadataFormatException">
<part name="fault" element="tns:UnsupportedMetadataFormatException"/>
</message>
<message name="UnsupportedOrderingTokenException">
<part name="fault" element="tns:UnsupportedOrderingTokenException"/>
</message>
<message name="getAuthorProductsByURI">
<part name="parameters" element="tns:getAuthorProductsByURI"/>
</message>
<message name="getAuthorProductsByURIResponse">
<part name="parameters" element="tns:getAuthorProductsByURIResponse"/>
</message>
<message name="getAuthorProductsByCF">
<part name="parameters" element="tns:getAuthorProductsByCF"/>
</message>
<message name="getAuthorProductsByCFResponse">
<part name="parameters" element="tns:getAuthorProductsByCFResponse"/>
</message>
<message name="getProductByID">
<part name="parameters" element="tns:getProductByID"/>
</message>
<message name="getProductByIDResponse">
<part name="parameters" element="tns:getProductByIDResponse"/>
</message>
<message name="getProductByHandle">
<part name="parameters" element="tns:getProductByHandle"/>
</message>
<message name="getProductByHandleResponse">
<part name="parameters" element="tns:getProductByHandleResponse"/>
</message>
<message name="ProductNotFoundException">
<part name="fault" element="tns:ProductNotFoundException"/>
</message>
<message name="getProductByURI">
<part name="parameters" element="tns:getProductByURI"/>
</message>
<message name="getProductByURIResponse">
<part name="parameters" element="tns:getProductByURIResponse"/>
</message>
<message name="getProductsByQuery">
<part name="parameters" element="tns:getProductsByQuery"/>
</message>
<message name="getProductsByQueryResponse">
<part name="parameters" element="tns:getProductsByQueryResponse"/>
</message>
<message name="getSummaryByAB">
<part name="parameters" element="tns:getSummaryByAB"/>
</message>
<message name="getSummaryByABResponse">
<part name="parameters" element="tns:getSummaryByABResponse"/>
</message>
<message name="getSummaryByCF">
<part name="parameters" element="tns:getSummaryByCF"/>
</message>
<message name="getSummaryByCFResponse">
<part name="parameters" element="tns:getSummaryByCFResponse"/>
</message>
<message name="getSummaryByURI">
<part name="parameters" element="tns:getSummaryByURI"/>
</message>
<message name="getSummaryByURIResponse">
<part name="parameters" element="tns:getSummaryByURIResponse"/>
</message>
<portType name="WSRIConsultazioneCatalogo">
<operation name="getMetadataFormats">
<input wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getMetadataFormatsRequest" message="tns:getMetadataFormats"/>
<output wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getMetadataFormatsResponse" message="tns:getMetadataFormatsResponse"/>
<fault message="tns:ApplicationException" name="ApplicationException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getMetadataFormats/Fault/ApplicationException"/>
</operation>
<operation name="getAuthorProductsByAB">
<input wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByABRequest" message="tns:getAuthorProductsByAB"/>
<output wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByABResponse" message="tns:getAuthorProductsByABResponse"/>
<fault message="tns:ApplicationException" name="ApplicationException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByAB/Fault/ApplicationException"/>
<fault message="tns:AuthorNotFoundException" name="AuthorNotFoundException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByAB/Fault/AuthorNotFoundException"/>
<fault message="tns:UnsupportedMetadataFormatException" name="UnsupportedMetadataFormatException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByAB/Fault/UnsupportedMetadataFormatException"/>
<fault message="tns:UnsupportedOrderingTokenException" name="UnsupportedOrderingTokenException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByAB/Fault/UnsupportedOrderingTokenException"/>
</operation>
<operation name="getAuthorProductsByURI">
<input wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByURIRequest" message="tns:getAuthorProductsByURI"/>
<output wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByURIResponse" message="tns:getAuthorProductsByURIResponse"/>
<fault message="tns:ApplicationException" name="ApplicationException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByURI/Fault/ApplicationException"/>
<fault message="tns:AuthorNotFoundException" name="AuthorNotFoundException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByURI/Fault/AuthorNotFoundException"/>
<fault message="tns:UnsupportedMetadataFormatException" name="UnsupportedMetadataFormatException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByURI/Fault/UnsupportedMetadataFormatException"/>
<fault message="tns:UnsupportedOrderingTokenException" name="UnsupportedOrderingTokenException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByURI/Fault/UnsupportedOrderingTokenException"/>
</operation>
<operation name="getAuthorProductsByCF">
<input wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByCFRequest" message="tns:getAuthorProductsByCF"/>
<output wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByCFResponse" message="tns:getAuthorProductsByCFResponse"/>
<fault message="tns:ApplicationException" name="ApplicationException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByCF/Fault/ApplicationException"/>
<fault message="tns:AuthorNotFoundException" name="AuthorNotFoundException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByCF/Fault/AuthorNotFoundException"/>
<fault message="tns:UnsupportedMetadataFormatException" name="UnsupportedMetadataFormatException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByCF/Fault/UnsupportedMetadataFormatException"/>
<fault message="tns:UnsupportedOrderingTokenException" name="UnsupportedOrderingTokenException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getAuthorProductsByCF/Fault/UnsupportedOrderingTokenException"/>
</operation>
<operation name="getProductByID">
<input wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByIDRequest" message="tns:getProductByID"/>
<output wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByIDResponse" message="tns:getProductByIDResponse"/>
<fault message="tns:ApplicationException" name="ApplicationException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByID/Fault/ApplicationException"/>
<fault message="tns:ProductNotFoundException" name="ProductNotFoundException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByID/Fault/ProductNotFoundException"/>
<fault message="tns:UnsupportedMetadataFormatException" name="UnsupportedMetadataFormatException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByID/Fault/UnsupportedMetadataFormatException"/>
</operation>
<operation name="getProductByHandle">
<input wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByHandleRequest" message="tns:getProductByHandle"/>
<output wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByHandleResponse" message="tns:getProductByHandleResponse"/>
<fault message="tns:ApplicationException" name="ApplicationException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByHandle/Fault/ApplicationException"/>
<fault message="tns:ProductNotFoundException" name="ProductNotFoundException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByHandle/Fault/ProductNotFoundException"/>
<fault message="tns:UnsupportedMetadataFormatException" name="UnsupportedMetadataFormatException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByHandle/Fault/UnsupportedMetadataFormatException"/>
</operation>
<operation name="getProductByURI">
<input wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByURIRequest" message="tns:getProductByURI"/>
<output wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByURIResponse" message="tns:getProductByURIResponse"/>
<fault message="tns:ApplicationException" name="ApplicationException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByURI/Fault/ApplicationException"/>
<fault message="tns:ProductNotFoundException" name="ProductNotFoundException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByURI/Fault/ProductNotFoundException"/>
<fault message="tns:UnsupportedMetadataFormatException" name="UnsupportedMetadataFormatException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductByURI/Fault/UnsupportedMetadataFormatException"/>
</operation>
<operation name="getProductsByQuery">
<input wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductsByQueryRequest" message="tns:getProductsByQuery"/>
<output wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductsByQueryResponse" message="tns:getProductsByQueryResponse"/>
<fault message="tns:ApplicationException" name="ApplicationException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductsByQuery/Fault/ApplicationException"/>
<fault message="tns:AuthorNotFoundException" name="AuthorNotFoundException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductsByQuery/Fault/AuthorNotFoundException"/>
<fault message="tns:UnsupportedMetadataFormatException" name="UnsupportedMetadataFormatException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductsByQuery/Fault/UnsupportedMetadataFormatException"/>
<fault message="tns:UnsupportedOrderingTokenException" name="UnsupportedOrderingTokenException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getProductsByQuery/Fault/UnsupportedOrderingTokenException"/>
</operation>
<operation name="getSummaryByAB">
<input wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByABRequest" message="tns:getSummaryByAB"/>
<output wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByABResponse" message="tns:getSummaryByABResponse"/>
<fault message="tns:ApplicationException" name="ApplicationException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByAB/Fault/ApplicationException"/>
<fault message="tns:AuthorNotFoundException" name="AuthorNotFoundException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByAB/Fault/AuthorNotFoundException"/>
</operation>
<operation name="getSummaryByCF">
<input wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByCFRequest" message="tns:getSummaryByCF"/>
<output wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByCFResponse" message="tns:getSummaryByCFResponse"/>
<fault message="tns:ApplicationException" name="ApplicationException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByCF/Fault/ApplicationException"/>
<fault message="tns:AuthorNotFoundException" name="AuthorNotFoundException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByCF/Fault/AuthorNotFoundException"/>
</operation>
<operation name="getSummaryByURI">
<input wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByURIRequest" message="tns:getSummaryByURI"/>
<output wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByURIResponse" message="tns:getSummaryByURIResponse"/>
<fault message="tns:ApplicationException" name="ApplicationException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByURI/Fault/ApplicationException"/>
<fault message="tns:AuthorNotFoundException" name="AuthorNotFoundException" wsam:Action="http://ws.ri.u-gov.cineca.it/WSRIConsultazioneCatalogo/getSummaryByURI/Fault/AuthorNotFoundException"/>
</operation>
</portType>
<binding name="WSRIConsultazioneCatalogoPortBinding" type="tns:WSRIConsultazioneCatalogo">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMetadataFormats">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ApplicationException">
<soap:fault name="ApplicationException" use="literal"/>
</fault>
</operation>
<operation name="getAuthorProductsByAB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ApplicationException">
<soap:fault name="ApplicationException" use="literal"/>
</fault>
<fault name="AuthorNotFoundException">
<soap:fault name="AuthorNotFoundException" use="literal"/>
</fault>
<fault name="UnsupportedMetadataFormatException">
<soap:fault name="UnsupportedMetadataFormatException" use="literal"/>
</fault>
<fault name="UnsupportedOrderingTokenException">
<soap:fault name="UnsupportedOrderingTokenException" use="literal"/>
</fault>
</operation>
<operation name="getAuthorProductsByURI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ApplicationException">
<soap:fault name="ApplicationException" use="literal"/>
</fault>
<fault name="AuthorNotFoundException">
<soap:fault name="AuthorNotFoundException" use="literal"/>
</fault>
<fault name="UnsupportedMetadataFormatException">
<soap:fault name="UnsupportedMetadataFormatException" use="literal"/>
</fault>
<fault name="UnsupportedOrderingTokenException">
<soap:fault name="UnsupportedOrderingTokenException" use="literal"/>
</fault>
</operation>
<operation name="getAuthorProductsByCF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ApplicationException">
<soap:fault name="ApplicationException" use="literal"/>
</fault>
<fault name="AuthorNotFoundException">
<soap:fault name="AuthorNotFoundException" use="literal"/>
</fault>
<fault name="UnsupportedMetadataFormatException">
<soap:fault name="UnsupportedMetadataFormatException" use="literal"/>
</fault>
<fault name="UnsupportedOrderingTokenException">
<soap:fault name="UnsupportedOrderingTokenException" use="literal"/>
</fault>
</operation>
<operation name="getProductByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ApplicationException">
<soap:fault name="ApplicationException" use="literal"/>
</fault>
<fault name="ProductNotFoundException">
<soap:fault name="ProductNotFoundException" use="literal"/>
</fault>
<fault name="UnsupportedMetadataFormatException">
<soap:fault name="UnsupportedMetadataFormatException" use="literal"/>
</fault>
</operation>
<operation name="getProductByURI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ApplicationException">
<soap:fault name="ApplicationException" use="literal"/>
</fault>
<fault name="ProductNotFoundException">
<soap:fault name="ProductNotFoundException" use="literal"/>
</fault>
<fault name="UnsupportedMetadataFormatException">
<soap:fault name="UnsupportedMetadataFormatException" use="literal"/>
</fault>
</operation>
<operation name="getProductByHandle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ApplicationException">
<soap:fault name="ApplicationException" use="literal"/>
</fault>
<fault name="ProductNotFoundException">
<soap:fault name="ProductNotFoundException" use="literal"/>
</fault>
<fault name="UnsupportedMetadataFormatException">
<soap:fault name="UnsupportedMetadataFormatException" use="literal"/>
</fault>
</operation>
<operation name="getProductsByQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ApplicationException">
<soap:fault name="ApplicationException" use="literal"/>
</fault>
<fault name="AuthorNotFoundException">
<soap:fault name="AuthorNotFoundException" use="literal"/>
</fault>
<fault name="UnsupportedMetadataFormatException">
<soap:fault name="UnsupportedMetadataFormatException" use="literal"/>
</fault>
<fault name="UnsupportedOrderingTokenException">
<soap:fault name="UnsupportedOrderingTokenException" use="literal"/>
</fault>
</operation>
<operation name="getSummaryByAB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ApplicationException">
<soap:fault name="ApplicationException" use="literal"/>
</fault>
<fault name="AuthorNotFoundException">
<soap:fault name="AuthorNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getSummaryByCF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ApplicationException">
<soap:fault name="ApplicationException" use="literal"/>
</fault>
<fault name="AuthorNotFoundException">
<soap:fault name="AuthorNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getSummaryByURI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ApplicationException">
<soap:fault name="ApplicationException" use="literal"/>
</fault>
<fault name="AuthorNotFoundException">
<soap:fault name="AuthorNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="WSRIConsultazioneCatalogoService">
<port name="WSRIConsultazioneCatalogoPort" binding="tns:WSRIConsultazioneCatalogoPortBinding">
<soap:address location="https://test.univr.iris.cineca.it/webservices/"/>
</port>
</service>
</definitions>